<%- include("component/header", {css: "index"}) %>

<section id="acceuille">
    <nav id="">
      
      <div class="logo">
        <img src="" alt="">
        GAPRODsysteme
      </div>
      
      <ul class="ankre">
        <li class="">
          <a href="/tutoriel">Tutoriel</a>
        </li>
        <li class="">
          <a href="/blog">Blog</a>
        </li>
        <li class="">
          <a href="/produit">Produit</a>
        </li>
        <li class="">
          <a href="/about">About</a>
        </li>
        <li class="">
          <a href="/help">Help</a>
        </li>
      </ul>
      <div class="">
        <button type="button" id="homeMenu">Menu</button>
        <div style="display: none">
            <button type="button" id="signup">Sign up</button>
            <button type="button" id="login">Log in</button>
        </div>
      </div>
    </nav>
    
    <div id="home">
      
      <div class="left">
        
        <div class="titre">
          Bienvenue sur GaprodSysteme
        </div>

        <div class="text">
          Apprenner de nouvelle
          choses avec des sceance
          de formation gratuite.
        </div>
        
        <a href="/signup">
          <button type="button">
            Cree un compter
          </button>
        </a>
        <a href="/tutoriels">
          <button type="button">Acceder au tutoriel</button>
        </a>
      
        
      </div>
      
      
      <div class="right">
        
        <img src="assets/image/businessman.png" alt="">
        
      </div>
      
      
      
    </div>
    
    
  </section>
  
  
  
  <section id="service">
    
    
    
    
    
    
  </section>
  
  
  
  <section id="tutoriel">
    
  </section>
  <section id="produit">
    
  </section>
  <section id="blog">
    
  </section>
  <section id="footer">
    
  </section>


<%- include("component/footer", { script : "login"}) %>
