* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	width: 100%;
	height: auto;
	font-size: 15px;
	background: #f5f5fe;
	font-family: var(--fontBase);
	overflow: auto;
}
img {
	width: 50%;
}
a {
	text-decoration: none;
}
ul,li,ol {
	list-style: none;
}
:root {

	--fontBase: Arial;
	--ButtonBg: #598866;
	--Second: #005ABC;

}
@font-face {
	font-family: chocolate;
	src: url("../font/chocolate.ttf");
}

@font-face {
	font-family: Painter;
	src: url("../font/painter.ttf");
}

@font-face {
	font-family: rainbow;
	src: url("../font/rainbow.ttf");
}

@font-face {
	font-family: Montserrat;
	src: url("../font/montserrat.ttf");
}

@font-face {
	font-family: Poppins;
	src: url("../font/poppins.ttf");
}


section {
	width: 100%;
	height: auto;
}

h1{
  font-weight: 400;
  font-family: painter;
}



input,
button {
	border: none;
	outline: none;
	border-radius: 5px;
	background: var(--ButtonBg);
	background: #fff;
	width: auto;
	padding: 0 15px;
	min-height: 35px;
	color: #fff;
	background: var(--Second)
}

input {
	background: none;
	border: .5px solid #ccc;
	width: 240px;
	color: #333;
	font-size: 18px;
	font-weight: 500;
}

#acceuille nav{
	display: flex;
	align-items: center;
	justify-content: center;
}

#acceuille{
  height: calc(100vh );
  max-height: 950px;
  background: #88B6FF;
}

#acceuille nav{
  width: 100%;
  background: #fff;
  height: 50px;
  justify-content: space-between;
  padding: 0 15px;
  box-shadow: 0px 0px 12px 2px #0003;
}

#acceuille nav .logo {
  font-size: 17px;
  font-family: Montserrat;
  font-weight: 500;
}

#acceuille nav ul{
  display: none;
}

#home{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

#acceuille .left{
  width: 100%;
  max-width: 400px;
  height: auto;
  background: #0000;
  padding: 40px 20px 40px;
  color: #fff;
}


.titre{
  font-size: 30px;
  font-weight: 450;
  font-family: Montserrat;
}

.text{
  font-size: 12px;
  font-weight: 450;
  font-family: poppins;
  margin-bottom: 30px;
}


#acceuille .right{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}


.right img{
  width: 178px;
  
}


#service{
  height: calc(100vh * 3);
  background:  #fff
}

#tutoriel{
  height: calc(100vh * 2);
  background:  #ECECEC
}

#produit{
  height: calc(100vh * 3);
  background:  #88B6FF
}

#blog{
  height: calc(100vh * 3);
  background:  #fff
}

#footer{
  height: calc(100vh - 20vh);
  background:  #0E131A
}



@media screen and (min-width: 900px){
  body{
    background: red;
    margin-top: 40px;
  }
  #acceuille{
    min-height: 700px;
  }
  #home{
    padding: 100px 100px;
    background: #111;
    flex-direction: row;
  }
}
